/**** Definition of Units: ****/
/* 'px' - An absolute unit of measurement (like in, pt, or cm).
 *      - All absolute measurements are related to each other: 1cm is always 37.8px.
 *      - Note that 1cm is almost never actually a physical centimeter in screen-based media.
 * 'em' - A relative unit of measurement. (unit relative to the 'PARENT'-element font-size).
 *      - Without any CSS at all: 1em == 16px == 0.17in == 12pt == 1pc == 4.2mm == 0.42cm.
 *      - The 'em' units will multiply with the inherent 'em' when applied to font-size.
 *      - When used with 'padding', 'margin' and other, it won't multiply with the inherent 'em'.
 *      - if the font-size changes at any level in the document, 1em becomes the new font-size.
 *      - Parent:font-size 2em{ Parent: font-size 2em{ Element: font-size 2em{ is 8em == 128px }}}
 * 'rem' - A relative unit of measurement. (unit relative to the 'ROOT'-element font-size)
 *       - The same as 'em' but will NOT multiply with the inherent 'rem' or 'em'.
 * '%' - Is based on the length of the same property of the parent element.
 * 'vw' - 'Viewport-width' unit, 1vw is equal to 1% of the width of the viewport.
 * 'vh' - 'Viewport-height' unit, 1vh is equal to 1% of the height of the viewport.
 * 'vmin' - This value will be whichever is smaller at the moment, vw or vh.
 */

/**** Position and Layout: ****/
/* The 'position' Property:
 * 'static' - This is the default value.
 *          - Are NOT affected by 'top', 'bottom', 'left', and 'right' properties.
 *          - It is always positioned according to the normal flow of the page.
 * 'relative' - The element is positioned relative to its normal position.
 *            - Can by adjusted away from its normal position with 'top'...'right' properties.
 *            - When adjusted away, other content will not fit into any gap left by the element.
 * 'absolute' - The element is positioned absolutely to its first 'positioned'-parent.
 *            - Note: 'positioned'-element is when the position is NOT 'static'.
 *            - Works well with 'relative'-parent, but 'static', it moves along with page scrolling.
 * 'fixed' - The element is positioned related to the browser window.
 *         - 'top'...'right' properties are used to position the element.
 *         - Does not leave a gap in the page where it would normally have been located.
 * 'sticky' - The element is positioned based on the user's scroll position.
 *          - A sticky element toggles between 'relative' and 'fixed'.
 */
/* The 'display' Property:
 * 'block' - Starts on a new line, and takes up the whole width (like <p>).
 * 'inline' - Any height and width properties will have no effect (like <span>).
 * 'inline-block' - Formatted as an inline element, but you can apply height and width values.
 * 'none' - The element is completely removed.
 * 'initial' - Sets this property to its default value.
 * 'inherit' - Inherits this property from its parent element.
 */

/**** Pseudo Classes: ****/
/* It is used to style elements when they are in a particular state.
 * ':hover'.
 * ':focus'.
 * ':first-child'.
 * ':valid'.
 */

/**** Pseudo Elements: ****/
/* '::first-line'.
 */

/**** Custom Properties: ****/
/* CSS Variables == Custom Properties.
 * it looks like this: '--my-property: value;'.
 */






 /**** CSS Reset: ****/
 body, ul, li, h1, h2, h3, h4, h5, h6, p, a{ 
    /*removing the defaul browser styles: */
    margin: 0;
    padding: 0;
    font-family: arial; /* all text on page will inherit this font.*/
}



/**** Variables: ****/
:root{
    /* root variables are available in the whole document.*/
    /* in this document the 'root' tag is the '<html>' tag.*/

    /* set the font-size to 62.5% to makes it easier to working with 'rem'.*/
    /* 62.5% font-size is equal to 10px and 1rem in most browsers*/
    font-size: 62.5%; /* 62.5% == 10px == 1rem */

    /*--my-testing-border: none;*/ --my-testing-border: 1px solid black;
}